
#design_controller{
    border: 1px solid black;
}

div#tab{
    display: block;
    width: 15%;
}

div#menu_content{
    display: block;
    width: auto;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}