<!DOCTYPE html>
<html>
    <head>
        <title>Tensorflow Server</title>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
        <script>
            const element_id = (id) => {
                return document.getElementById(id)
            }
        </script>
    </head>
    <body>
        <h1>Testing..</h1>
        <div id='upload_dataset'>
            <input type="file" id="fileinput" multiple accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <div id="table"></div>
        </div>
        <hr>
        <div id="divide_data">
            <input type="number" id="train" min="0" max="10">:
            <input type="number" id="test" min="0" max="10" readonly>
            <button id="divide">설정</button>
            <div id="divide_result"></div>
        </div>
        <div id="fit">
            <input type="file" id="model_input" multiple accept=".json">
        </div>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/learn.js"></script>
    </body>
</html>