<!DOCTYPE html>
<html lang='ko'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Tensorflow Service</title>

        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/custom.css')}}">
        

        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preprocessing.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/modelLayerDesign.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/model.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/learn_server.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/download_server.js')}}"></script>
        
        <script>
            $(document).ready(function(){
                load()
            })
        </script>
    </head>
    <body>
        <h1 class="text-center">Tensorflow SERVER : AP project</h1>
        
        <div class="container">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-preprocessing-tab" data-toggle="pill" href="#pills-preprocessing" role="tab" aria-controls="pills-preprocessing" aria-selected="false">Preprcessing</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Model</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-result-tab" data-toggle="pill" href="#pills-result" role="tab" aria-controls="pills-result" aria-selected="false">Result</a>
                  </li>
              </ul>
            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="input-group mb-3" style="width: 30%;">
                        <div class="custom-file" id='upload_dataset'>
                            <input class="custom-file-input" type="file" id="fileinput" multiple accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label class="custom-file-label" for="inputGroupFile01">Choose .csv file</label>
                        </div>
                    </div>
                    <span id="dataset_info"></span>
                    <div id="table"></div>
                    <hr>
                    <div id="in_output" class="roww">
                        <div id="x_input" class="column">
                            <h5 class="text-center">INPUT</h5>
                            <div id="input_content" class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                            </div>
                        </div>
                        <div id="y_output" class="column">
                            <h5 class="text-center">OUTPUT</h5>
                            <div id="output_content" class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                            </div>
                        </div>
                    </div>
                    <button class="btn" id="enroll">설정</button>
                </div>

                <div class="tab-pane fade" id="pills-preprocessing" role="tabpanel" aria-labelledby="pills-preprocessing-tab">
                    <div id="in_type_table"></div>
                    <div id="out_type_table"></div>

                    <hr>
                    <button class="btn" id="see_table">테이블</button>
                    <button class="btn" id="ohe">원 핫 인코딩</button>
                    <div id="ohe_result"></div>
                    <hr>


                    <div id="divide_data" style="width: 30%;">
                        <div class="input-group mb-3">
                            <input type="number" id="train" min="0" max="10" class="form-control"aria-describedby="basic-addon2">
                            <input type="number" id="test" min="0" max="10" class="form-control" aria-describedby="basic-addon2" readonly>
                            <button class="btn" id="divide">설정</button>
                        </div>
                        <div id="divide_result"></div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">Model Name</span>
                        </div>
                        <input type="text" class="form-control" id="model-name" aria-describedby="basic-addon3">
                        <div class="input-group-append">
                            <span class="input-group-text" id="set-model-name">설정</span>
                        </div>
                      </div>
                    
                    <div id="design_controller">
                        <div class="list-group" id="tab"></div>
                        <div id="menu_content"></div>   
                    </div>
                    <hr>
                    <div class="row">
                        <div id="design_content" class="column"></div>
                    </div>
                    <button class='btn' id="model_create_btn">생성</button>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" style="width: 80%;">
                    
                    <h5>Compile</h5>
                    <div id="model_compile" class="d-block p-2 bg-dark text-white rounded">
                        <div class="row">
                            <div class="col-sm text-center align-middle">
                                <span class="d-inline p-2 bg-light text-dark rounded">optimizer : 
                                    <select id="optimizer"></select>
                                </span>
                            </div>
                            <div class="col-sm text-center align-middle">
                                <span class="d-inline p-2 bg-light text-dark rounded">loss function : 
                                    <select id="losses"></select>
                                </span>
                            </div>
                            <div class="col-sm text-center align-middle">
                                <button id="model_compile_btn" class="btn">컴파일</button>
                            </div>
                        </div>
                    </div>
                        <hr>
                    <h5>Train</h5>
                    <div>
                        <div id="model_fit" class="d-block p-2 bg-dark text-white rounded">
                            <div class="row">
                                <div class="col-sm text-center align-middle">
                                    <span class="d-inline p-2 bg-light text-dark rounded">epoch : 
                                        <input type="number" id="epoch">
                                    </span>
                                </div>
                                <div class="col-sm text-center align-middle">
                                    <span class="d-inline p-2 bg-light text-dark rounded">batch size : 
                                        <input type="number" id="batch_size">
                                    </span>
                                </div>
                                <div class="col-sm text-center align-middle">
                                    <button id="model_fit_btn" class="btn">학습하기!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Predict</h5>
                    <div id="model_predict">
                        <button id="random_row">무작위 열 가져오기</button>
                        <button id="predict">예측하기</button>
                        <div id="prdict_random_table_result">
                                
                        </div>
                        <div id="prdict_random_table">
                                
                        </div>
                        <div id="predict_result">
                            
                        </div>
                    </div>
                    <h5>Evaluate</h5>
                    <div id="model_predict">
                        <button id="evaluate">예측하기</button>
                        <div id="test_result">
                            
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-result" role="tabpanel" aria-labelledby="pills-result-tab">
                    <h5>서버에 업로드</h5>
                    <button id="upload_model" onclick="download.upload_server()">서버에 업로드</button>
                </div>

            </div>
        </div>
    </body>
</html>